<footer>
    <div class="footer">
        <p>Made by Ken</p>
        <p>
          <a href="https://www.linkedin.com/in/kentaro-oshimoto-4114a0196/"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/bap-ssbm"><i class="fa-brands fa-github"></i></a>
        </p>
        
      
      </div>
</footer>
<script src="https://kit.fontawesome.com/84e2f58665.js" crossorigin="anonymous"></script>
</body>
</html>
